.photoDetailContainerWrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: hidden;
}

.photoDetailContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

}

.photoDetailImage {
    height: 80vh;

}

.photoDetailHeader {
    display: block;
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0;
}

.photoDetailFooter {
    display: flex;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 10px 0 0;
    padding: 10px;
    flex-direction: row;
    cursor: pointer;
}


@media (max-width: 1300px) {
    .photoDetailImage {
        width: 60vh;
        height: auto;
    }

    .photoDetailWrapper {
        width: auto;
    }
}

@media (max-width: 920px) {
    .photoDetailImage {
        width: 50vh;
        height: auto;
    }

    .photoDetailWrapper {
        width: auto;
    }
    .photoDetailContainer {
        width: 50vh;
    }
}


@media (max-width: 600px) {
    .photoDetailImage {
        width: 100%;
        height: auto;
    }

    .photoDetailWrapper {
        width: 100%;
    }
    .photoDetailContainer {
        width: 100%;
        font-size: 8px !important;
    }

    .photoDetailHeader {
        right: 40px;
        font-size: inherit;

    }
    .photoDetailFooter {
        font-size: inherit;
    }

}