h1, h2, h3, h4, h5, h6, p, span, button {
    font-family: Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;

}