.galleryItemBlock {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.galleryItemImageBlock {
    background: url(../../../assets/images/zoom.png) center no-repeat;
    background-color: #000;

    overflow: hidden;
}

.galleryItemImageBlock:hover .galleryItemImage{
    opacity: 0.5;
    transform: scale(1.05);
}

.galleryItem{
    position: relative;
}

.galleryItemHeader {
    opacity:0;
    display: block;
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0;
}

.galleryItemBlock:hover .galleryItemHeader{
    opacity:1;
    -webkit-transition: opacity 0.2s ease-out 0.2s;
    -moz-transition: opacity 0.2s ease-out 0.2s;
    -o-transition: opacity 0.2s ease-out 0.2s;
    transition: opacity 0.2s ease-out 0.2s;
    z-index:1;
}

.galleryItemImage {
    vertical-align: middle;
    width: 100%;
    cursor: zoom-in;
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;
    height: auto;
    display: block;
}

.likePhotoBtn {
    padding: 3px;
    color: #fff;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.likeImg {
    vertical-align: middle;
    opacity: 0.4;
    transition: 0.5s;
}

.likeImg:hover {
    opacity: 1;
}

.countLike {
    padding-left: 10px;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 0 black;

}

.galleryItemFooter {
    opacity:0;
    display: flex;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 black;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 10px 0 0;
    padding: 10px;
    flex-direction: row;

}

.galleryItemBlock:hover .galleryItemFooter{
    opacity:1;
    -webkit-transition: opacity 0.2s ease-out 0.2s;
    -moz-transition: opacity 0.2s ease-out 0.2s;
    -o-transition: opacity 0.2s ease-out 0.2s;
    transition: opacity 0.2s ease-out 0.2s;
    z-index:1;
}

.fotoProfilePrev {
    border-radius: 100px;
    height: 30px;
    border: 1px solid white;
    box-shadow: 0px 0px 1px black;
    vertical-align: middle;
}

.persDataProfile {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
}

.nameProfile {
    vertical-align: middle;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 5px;

}

.datePublish {
    vertical-align: middle;
    padding-left: 10px;
    font-size: 12px;
}

