.preloaderBlock {
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: aliceblue;
    opacity: 0.5;
    -webkit-animation: fade-in 1s linear;
    -moz-animation: fade-in 1s linear;
    -o-animation: fade-in 1s linear;
    animation: fade-in 1s linear;
}

.preloaderBlockWrapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloaderImg {
    z-index: 1000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    animation: preloader-bounce 2s infinite ease-in-out;

}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 0.5; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 0.5; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 0.5; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 0.5; }   }