.wrapper {
    background: url(../../assets/images/background-auth.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100% 100%;
    min-height: 100vh;
}

.authBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #468eb8;
    padding: 80px 50px;
}

.authButton {
    font-size: 18px;
    margin-left: 30px;
    padding: 10px 50px;
    color: black;
    background-color: #e6f772;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}